@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-size: 2rem;
    font-family: 'Source Code Pro', monospace;
}

p {
    background-color: lightgray;
}

span.opposite {
    display: inline-block;
    background-color: blueviolet;
    padding: 3rem;
}

ul {
    background-color: blanchedalmond;
}

li, a {
    text-decoration: none;
    display:inline-block;
    margin-inline: 0.5rem;
    color: darkgray;
}

li, a:hover {
    color: black;
}