@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500;700&display=swap');

body {
    padding: 5vw 10vw;
    font-size: 2rem;
    font-family: 'Shantell Sans', cursive;
}

ol {
    list-style-type:upper-roman;
}

ul {
    text-align: center;
    list-style-position: inside; /* Originally, it's */
    list-style:square url("/env/L8/checkmark.ico") inside;
}

ol li:nth-child(even) {
    color: red;
}

::marker {
    color: #000;
    /*
    This is changing the Roman Numbers to Black. Like original one.
    Eventhough we set some with red in nth-child pseudo-class, it will cover it up.
    */
}